*{
	margin:0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
}
html{
	background-color: #be3e82;
scroll-behavior: smooth;
}


/*tags*/

/*My Nav
nav{
	background-color: #f56476;
	text-align: center;
       padding:20px 0;
       position: fixed;
       top:0;
       width:100%;
       z-index: 1;
}
nav ul li{
	display: inline;
	font-size: 20px;
	padding: 30px;
	
}
nav ul{
	list-style: none;
}
nav a{
	text-decoration: none;
	color: #fcfeff;
}
nav a:hover{
	color: #dfbbb1;
}*/
/*end of my nav*/









@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

main{
  background-color: #eafbff;
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vh;
  margin: 0;

}

nav {
  background-color: #e43f6f;

  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: width 0.6s linear;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul{
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
   color:#f7ccd7;

   text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color:  #e43f6f;;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color:#fcfeff;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;

}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}






/*background pic*/
.pic{
     margin-top:-130px;
	background-image: linear-gradient(rgba(0,0,0,0.76),rgba(0,0,0,0.76)),url("second.png");
	background-color: white;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-size: 10rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	

}

.pic a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #e43f6f;
	text-decoration: none;
}

#anime{
	animation:bounce 1.5s  infinite;
}


@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-30px);
    }
}


/*Blog Posts*/


.three{

background-color: #be3e82;
	color: rgba(247,204, 215,0.7);
	display: flex;
	align-items: center;
	justify-content: center;

}
.wrapper{
	
	width:70%;
	padding: 50px 30px;


}
.wrapper h1{
	font-size: 3rem;
	color: rgba(247,204, 215,0.9);
}
.three header{
font-size: 22px;
font-family: 'Roboto Mono', monospace;
color: rgba(247,204, 215,0.9);

}


.three1{
padding:20px 0;
border-bottom: 1px solid rgba(247,204, 215,0.5);
background-color: #be3e82;
display: grid;
grid-gap: 1rem;
line-height: 1.4rem;
}

.icons{
	font-size: 23px;
	display: flex;
	justify-content: space-around;
}

.icons a{
	color: #fcfeff;
}
.icons a:hover{
	color: #1A5276 ;
}

/*footer*/
.footer{

background-color: #f56476;
color: #fcfeff;
font-size: 20px;
padding: 10px 0;
text-align: center;

}
.footer .social{
 
	font-size: 30px;
}
.social a{
	color: #fcfeff;
}
.social a:hover{
	color: #dfbbb1; 
}
@media(max-width: 650px){


.wrapper{
	
	width:100%;
	padding: 50px 30px;

}
.pic{
	background-size: contain;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("second.png");
	height: 80vh;
}
}	
