*{
  padding: 0;
  margin: 0;
font-family: 'M PLUS Rounded 1c', sans-serif;
}
/*Tags*/
body{
  background-color: #7EA3CC;

}
img{
 width:100%;
}






/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav {
background-color:#fcfeff ;
  width: 100%;
  height: 55px;
  overflow: hidden;
  transition: height .5s ease-in-out;
  position: fixed;
  top:0;

}
.nav-brand,.brand, .nav-link, .nav-collapse {
  display: inline-block;
}
.nav-brand,.brand, .nav-link {
 

  text-decoration: none;
  line-height: 55px;
  padding: 0 1rem;
  opacity: 0.8;
  cursor: pointer;
}
.nav-brand,.brand {
  font-size: 1.25rem;
   color:rgb(0, 102, 255); ;
 font-family: 'Balsamiq Sans', cursive;
}
.nav-link {
  font-size: 1rem;
   color:#000000 ;
}
.nav-collapse {
  float: right;
}
.toggler {
  float: right;
  width: 40px;
  height: 18px;
  margin: 18.5px 0;
  background: none;
  border: none;
  outline: none;
  display: none;
  opacity: 0.8;
}
.toggler span {
  display: block;
  width: 90%;
  height: 2px;
  background:#868e96;
  position: relative;
  transition: .25s ease-in-out;
}
.toggler span:nth-child(1) {
  top: -7.5px;
}
.toggler span:nth-child(2) {
  top: 0;
}
.toggler span:nth-child(3) {
  top: 7.5px;
}

.nav-brand:hover, .nav-link:hover, .toggler:hover, 
.nav-brand:focus, .nav-link:focus, .toggler:focus {
  opacity: 1;
}

.nav.open .toggler span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.nav.open .toggler span:nth-child(2) {
  transform: translateX(-100%);
  width: 0;
  opacity: 0;
}
.nav.open .toggler span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}
.nav.open {
  height: 40vh;
}

@media (max-width: 767px) {
  .nav-collapse, .nav-link {
    float: none;
    display: block;
  }
  .nav-link {
    text-align: center;
  }
  .toggler {
    display: block;
  }
}

 nav.scrolled {
  background: #fcfeff;
  box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

/*end of navbar*/







/*Other Posts*/

.other_posts{
  
 color: #FCFEFF;
  
  width:55%;
  margin: 5rem auto;
}
h3, h1{
  color:#000;
}
.in{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: .5rem;
  margin-top:1rem;
}



.one,.two,.three {
   color: #FCFEFF;
  
background-color: #009DDC;
  padding: 10px 20px;
  border-radius: 5px;
}

.one a,.two a,.three a{
  color: black;
  text-decoration: none;
}

.one a:hover,.two a:hover,.three a:hover{
  color: #1A5276;
  text-decoration: underline;
}
















/*Media Queries*/
@media(max-width:938px){
  .other_posts{

    width:75%;
  }
}

@media(max-width:774px){
  .other_posts{

    width:85%;
  }
}

@media(max-width:682px){
  .other_posts{

    width:94%;
  }
}

@media(max-width:618px){
  

  .in{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .other_posts{
    width:50%;
  }
}

@media(max-width:542px){

  .other_posts{
    width:78%;
  }
}

.brand{
 display: none;
}


@media(max-width: 390px){

  .brand{
    display: inline;

  }
  .nav-brand{
    display: none;
  }
}